.btn {
  display: inline-block;
  font-size: 1.8rem;
  border: 2px solid black;
  padding: 1rem 1.5rem;
  transition: all 0.2s ease-in; }
  .btn:hover {
    transform: scale(1.05); }
  .btn--primary {
    background-color: #eb2f2f;
    color: #fff; }

.logo {
  color: #eb2f2f;
  font-weight: 300; }

.break {
  height: 2px;
  width: 4rem;
  background-color: currentColor;
  transform: translateY(10px); }

.upper {
  text-transform: uppercase;
  letter-spacing: 1px; }

.bold {
  font-weight: bold;
  font-size: 2.2rem;
  margin-bottom: 4rem; }
  @media screen and (max-width: 78em) {
    .bold {
      margin-bottom: 2rem; } }

.heading-2 {
  font-size: 3.8rem;
  margin-top: 2rem;
  margin-bottom: 8rem;
  letter-spacing: 2px; }
  @media screen and (max-width: 78em) {
    .heading-2 {
      margin-top: 1rem;
      margin-bottom: 4rem; } }

.heading-3 {
  font-size: 1.8rem;
  font-weight: 400; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 62.5%;
  color: #171514;
  line-height: 1.6; }

p {
  font-size: 1.8rem;
  margin-bottom: 1rem; }

a,
button {
  text-decoration: none;
  color: inherit;
  cursor: pointer; }

ul, ol {
  list-style: none; }

input {
  display: block;
  line-height: 3rem;
  text-indent: 1rem;
  font-size: 1.8rem;
  font-family: "Roboto", sans-serif;
  width: 100%;
  margin-top: 0.2rem; }
  input:focus {
    outline: none;
    border: 1.5px solid #eb2f2f; }

textarea {
  display: block;
  font-family: "Roboto", sans-serif;
  text-indent: 1rem;
  padding-top: 0.8rem;
  font-size: 1.8rem;
  width: 100%; }
  textarea:focus {
    outline: none;
    border: 1.5px solid #eb2f2f; }

label {
  font-family: inherit;
  font-size: 2rem; }

.menu__toggle {
  display: none; }

.menu__button {
  position: fixed;
  top: 3.5rem;
  right: 3.5rem;
  display: inline-block;
  height: 6rem;
  width: 6rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 66666; }
  .menu__button:hover .menu__icon,
  .menu__button:hover .menu__icon::after,
  .menu__button:hover .menu__icon::before {
    background-color: #eb2f2f; }

.menu__icon {
  background-color: #ededed;
  color: #ededed;
  width: 4rem;
  height: 3px;
  position: relative; }
  .menu__icon::before, .menu__icon::after {
    content: "";
    position: absolute;
    left: 0;
    background-color: #ededed;
    width: 4rem;
    height: 3px; }
  .menu__icon::before {
    top: -1rem; }
  .menu__icon::after {
    top: 1rem; }

.menu__background {
  position: fixed;
  top: 3.5rem;
  right: 3.5rem;
  height: 6rem;
  width: 6rem;
  background: rgba(0, 0, 0, 0.98);
  transform: scale(1);
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  z-index: 8888; }

.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: -60vw;
  height: 100vh;
  width: 0;
  visibility: none;
  transition: all 0.2s 0.2s ease-out;
  z-index: 8888; }
  .nav__item {
    display: block;
    color: #fff;
    font-size: 3rem;
    font-weight: 300;
    display: flex;
    align-items: center;
    transition: color 0.2s ease-in; }
    .nav__item:hover, .nav__item:active {
      color: #eb2f2f; }
    .nav__item-number {
      font-weight: 100;
      font-size: 3rem;
      margin-right: 4rem; }
  .nav li:not(:last-of-type) {
    margin-bottom: 4rem; }

.menu__toggle:checked ~ .nav {
  width: 100vw;
  right: 0; }

.menu__toggle:checked ~ .menu__background {
  transform: scale(140);
  visibility: visible; }

.menu__toggle:checked ~ .menu__button .menu__icon {
  background-color: black; }

.menu__toggle:checked ~ .menu__button .menu__icon::before {
  transform: rotate(-45deg) translate(-0.8rem, 0.5rem); }

.menu__toggle:checked ~ .menu__button .menu__icon::after {
  transform: rotate(45deg) translate(-0.8rem, -0.6rem); }

.header {
  color: #fff;
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../img/header.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  text-transform: uppercase; }
  .header__content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%; }
  .header__title {
    font-size: 5.8rem;
    font-weight: 400;
    padding: 1rem 3.5rem;
    letter-spacing: 1px;
    background-color: rgba(3, 3, 3, 0.25); }
  .header__text {
    font-size: 2.4rem;
    font-weight: 300;
    padding: 0.8rem 2rem;
    background-color: rgba(3, 3, 3, 0.25); }
  .header__scroll {
    margin-top: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    font-weight: 100;
    border: 0.5px solid rgba(241, 236, 236, 0.639);
    padding: 0.8rem 5rem;
    animation: pulse 2s infinite;
    transition: color ease-in 0.3s;
    background-color: transparent; }
    .header__scroll div {
      transform: scale(0.7, 1); }
    .header__scroll:hover {
      color: #eb2f2f;
      border: 1px solid #eb2f2f; }

@keyframes pulse {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.02); }
  100% {
    transform: scale(1); } }

.about {
  padding: 40rem 20rem 10rem 20rem;
  height: 100vh; }
  .about__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 6rem;
    justify-items: center;
    align-items: start; }
  .about__images {
    display: flex;
    justify-content: flex-end;
    position: relative;
    flex-shrink: 0; }
  .about__image {
    max-width: 35%;
    height: 100%;
    display: block;
    object-fit: contain;
    filter: grayscale(100);
    box-shadow: 9px 12px 20px -20px rgba(0, 0, 0, 0.35); }
    .about__image-2 {
      max-width: 35%;
      height: 100%;
      position: absolute;
      top: -30%;
      right: 50%; }
  .about__info {
    display: grid;
    grid-template-columns: minmax(min-content, 8rem) minmax(min-content, 1fr);
    column-gap: 1rem;
    margin-left: auto; }
    .about__info-buttons {
      margin-top: 10rem; }
      .about__info-buttons > *:not(:last-child) {
        margin-right: 3rem; }

.service {
  background-color: #121212;
  color: #fff;
  padding: 20rem 10rem; }
  .service__info {
    display: grid;
    grid-template-columns: minmax(min-content, 8rem) minmax(min-content, 1fr);
    column-gap: 1rem;
    margin-left: auto;
    margin-bottom: 5rem; }
  .service__items {
    display: flex;
    justify-content: space-around;
    gap: 5rem; }
  .service__item {
    width: 20%;
    border: 1px solid rgba(237, 237, 237, 0.3);
    padding: 3rem 4rem; }
  .service__icon {
    font-size: 4rem;
    font-weight: 100;
    margin-bottom: 3rem; }
  .service__heading {
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 2.4rem;
    margin-bottom: 2rem; }

.gallery {
  min-height: 100vh;
  display: flex; }
  .gallery__item {
    min-width: calc(100% / 3); }
    .gallery__item:nth-child(n) {
      background-position: center;
      background-size: cover; }
    .gallery__item-1 {
      background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(../img/interior-1.jpg); }
    .gallery__item-2 {
      background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(../img/interior-2.jpg);
      position: relative; }
      .gallery__item-2::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        z-index: 10; }
    .gallery__item-3 {
      background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(../img/interior-3.jpg); }
  .gallery__container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .gallery__btn {
    border: none;
    font-size: 3.8rem;
    color: #ededed;
    padding: 1rem 3.5rem;
    background-color: rgba(3, 3, 3, 0.25);
    width: 100%;
    text-align: center;
    transition: all 0.2s ease-in; }
    .gallery__btn:hover {
      transform: scaleY(1.05);
      background-color: rgba(3, 3, 3, 0.6); }
  .gallery__arrows {
    width: 80%;
    display: flex;
    justify-content: space-between; }
  .gallery__arrow {
    z-index: 999;
    border: solid #ededed;
    border-width: 0 0.2rem 0.2rem 0;
    display: inline-block;
    padding: 3rem; }
    .gallery__arrow-left {
      transform: rotate(135deg); }
    .gallery__arrow-right {
      transform: rotate(-45deg); }

.cta {
  padding: 20rem 10rem; }
  .cta__info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto; }
  .cta__btn {
    margin-top: 6rem; }
    .cta__btn:not(:last-of-type) {
      margin-right: 5rem; }

.footer {
  height: 40rem;
  background-color: #121212;
  color: #ededed;
  font-size: 2rem;
  font-weight: 300;
  padding: 8rem 0; }
  .footer__container {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; }
  .footer__logo {
    font-size: 3rem; }
  .footer__contact-item {
    border-bottom: 1px dotted #ededed;
    padding-bottom: 1rem;
    transition: all 0.2s ease-out; }
    .footer__contact-item:hover, .footer__contact-item:target {
      color: #eb2f2f;
      border-bottom: 1px dotted #eb2f2f; }
    .footer__contact-item:not(:last-of-type) {
      margin-bottom: 3rem; }
  .footer__contact-icon {
    font-size: 2.5rem;
    margin-right: 2rem; }
  .footer__copy {
    font-size: 1.6rem;
    width: 100%;
    text-align: center;
    margin-top: 6rem; }

.contact {
  opacity: 0;
  visibility: hidden;
  backdrop-filter: blur(10px);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999999; }
  .contact__heading {
    margin-bottom: 5rem;
    font-size: 3rem; }
  .contact__container {
    background-color: rgba(237, 237, 237, 0.85);
    max-height: 95%;
    width: 40%;
    padding: 8rem;
    transform: translateY(0); }
  .contact__form {
    display: flex;
    flex-direction: column;
    gap: 2rem; }
    .contact__form-item:last-of-type {
      margin-bottom: 2.5rem; }
    .contact__form-btn {
      margin-top: 4rem; }
  .contact__call {
    display: none; }
  .contact:target {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s ease-in; }
  .contact__close-wrapper {
    height: 8rem;
    width: 8rem;
    cursor: pointer;
    position: absolute;
    top: 0%;
    right: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; }
    .contact__close-wrapper:hover > .contact__close-btn,
    .contact__close-wrapper:hover > .contact__close-btn::before {
      background-color: #eb2f2f; }
  .contact__close-btn {
    height: 0.3rem;
    width: 4rem;
    background-color: #121212;
    transform: rotate(-135deg);
    transition: background-color 0.1s ease-out;
    position: relative; }
    .contact__close-btn::before {
      content: "";
      position: absolute;
      top: 0rem;
      left: 0;
      height: 0.3rem;
      width: 4rem;
      transform: rotate(-90deg);
      background-color: #121212;
      transition: background-color 0.1s ease-out; }
    .contact__close-btn:hover, .contact__close-btn:hover::before {
      background-color: #eb2f2f; }

.interior,
.exterior {
  opacity: 0;
  visibility: hidden;
  backdrop-filter: blur(10px);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999999; }
  .interior__container,
  .exterior__container {
    background-color: rgba(18, 18, 18, 0.95);
    height: 90%;
    width: 90%;
    padding: 5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 30%);
    justify-items: center;
    align-items: center;
    gap: 5rem;
    position: relative; }
  .interior__image,
  .exterior__image {
    object-fit: cover;
    min-height: 100%;
    max-width: 70%;
    transition: transform 0.2s ease-in; }
    .interior__image:hover,
    .exterior__image:hover {
      cursor: pointer;
      transform: scale(1.1); }
  .interior__close-wrapper,
  .exterior__close-wrapper {
    height: 8rem;
    width: 8rem;
    cursor: pointer;
    position: absolute;
    top: 0%;
    right: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; }
    .interior__close-wrapper:hover > .contact__close-btn,
    .interior__close-wrapper:hover > .contact__close-btn::before,
    .exterior__close-wrapper:hover > .contact__close-btn,
    .exterior__close-wrapper:hover > .contact__close-btn::before {
      background-color: #eb2f2f; }
  .interior__close-btn,
  .exterior__close-btn {
    height: 0.3rem;
    width: 4rem;
    background-color: #121212;
    transform: rotate(-135deg);
    transition: background-color 0.1s ease-out;
    position: relative; }
    .interior__close-btn::before,
    .exterior__close-btn::before {
      content: "";
      position: absolute;
      top: 0rem;
      left: 0;
      height: 0.3rem;
      width: 4rem;
      transform: rotate(-90deg);
      background-color: #121212;
      transition: background-color 0.1s ease-out; }
    .interior__close-btn:hover, .interior__close-btn:hover::before,
    .exterior__close-btn:hover,
    .exterior__close-btn:hover::before {
      background-color: #eb2f2f; }
  .interior__close-wrapper,
  .exterior__close-wrapper {
    top: 4.2%;
    right: 4.7%; }
    .interior__close-wrapper:hover > .interior__close-btn,
    .interior__close-wrapper:hover > .interior__close-btn::before,
    .exterior__close-wrapper:hover > .interior__close-btn,
    .exterior__close-wrapper:hover > .interior__close-btn::before {
      background-color: #eb2f2f; }
  .interior__close-btn,
  .exterior__close-btn {
    background-color: #fff; }
    .interior__close-btn::before,
    .exterior__close-btn::before {
      background-color: #fff; }
  .interior:target,
  .exterior:target {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s ease-in; }

@media screen and (max-width: 100em) {
  html {
    font-size: 50%; }
  .header__content {
    top: 65%; }
  .about {
    padding: 40rem 10rem; }
    .about__container {
      grid-template-columns: 3fr 2fr; }
  .contact__container {
    width: 50%; } }

@media screen and (max-width: 78em) {
  .about {
    height: auto;
    padding: 15rem 10rem; }
    .about__container {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr; }
    .about__images {
      max-width: 80%;
      justify-content: flex-end;
      padding-right: 20rem;
      margin-top: 5rem;
      transform: translateY(-10%); }
    .about__image {
      max-width: 30%; }
      .about__image-1 {
        z-index: 1; }
      .about__image-2 {
        top: -30%;
        right: 0; }
    .about__info {
      grid-row: 1; }
  .service {
    padding: 15rem 10rem; }
    .service__items {
      flex-wrap: wrap;
      justify-content: space-evenly;
      gap: 8rem; }
    .service__item {
      min-width: 30%;
      margin-right: 1rem; }
  .gallery {
    min-height: 75vh; }
  .contact__heading {
    margin-bottom: 3rem;
    font-size: 2.6rem; }
  .contact__form-btn {
    margin-top: 1rem; } }

@media screen and (max-width: 56.25em) {
  html {
    font-size: 37.5%; }
  .about__images {
    margin-top: 10rem; }
  .about__image {
    max-width: 50%; }
  .service__item {
    padding: 5rem 8rem;
    min-width: 50%;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; }
  .gallery {
    min-height: 50vh; } }
