*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-size: 62.5%;
	color: #171514;
	line-height: 1.6;
}

p {
	font-size: 1.6rem;
	margin-bottom: 1rem;
}

a,
button {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

// FORM
input {
	display: block;
	line-height: 3rem;
	text-indent: 1rem;
	font-size: 1.6rem;
	font-family: "Roboto", sans-serif;
	width: 100%;
	margin-top: 0.2rem;

	&:focus {
		outline: none;
		border: 1.5px solid $color-primary;
	}
}

textarea {
	display: block;
	font-family: "Roboto", sans-serif;
	text-indent: 1rem;
	padding-top: 0.8rem;
	font-size: 1.8rem;
	width: 100%;

	&:focus {
		outline: none;
		border: 1.5px solid $color-primary;
	}
}

label {
	font-family: inherit;
	font-size: 2rem;
}
