////////////////////
// NAV SECTION
.menu {
	&__toggle {
		display: none;
	}

	&__button {
		position: fixed;
		top: 3.5rem;
		right: 3.5rem;

		display: inline-block;
		height: 6rem;
		width: 6rem;
		cursor: pointer;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		z-index: 66666;

		&:hover .menu__icon,
		&:hover .menu__icon::after,
		&:hover .menu__icon::before {
			background-color: $color-primary;
		}
	}

	&__icon {
		background-color: $color-light;
		color: $color-light;
		width: 4rem;
		height: 3px;

		position: relative;

		&::before,
		&::after {
			content: "";
			position: absolute;
			left: 0;
			background-color: $color-light;
			width: 4rem;
			height: 3px;
		}

		&::before {
			top: -1rem;
		}

		&::after {
			top: 1rem;
		}
	}

	&__background {
		position: fixed;
		top: 3.5rem;
		right: 3.5rem;

		height: 6rem;
		width: 6rem;
		background: rgba(0, 0, 0, 0.98);

		transform: scale(1);
		transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);

		z-index: 8888;
	}
}

.nav {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	position: fixed;
	top: 0;
	right: -60vw;
	height: 100vh;
	width: 0;


	transition: all 0.2s 0.2s ease-out;

	z-index: 8888;

	&__item {
		display: block;
		color: #fff;
		font-size: 3rem;
		font-weight: 300;

		display: flex;
		align-items: center;

		transition: color 0.2s ease-in;

		&:hover,
		&:active {
			color: $color-primary;
		}

		&-number {
			font-weight: 100;
			font-size: 3rem;
			margin-right: 4rem;
		}
	}

	li:not(:last-of-type) {
		margin-bottom: 4rem;
	}
}

.menu__toggle:checked ~ .nav {
	width: 100vw;
	right: 0;
}

.menu__toggle:checked ~ .menu__background {
	transform: scale(140);
	visibility: visible;
}

.menu__toggle:checked ~ .menu__button .menu__icon {
	background-color: black;
}

.menu__toggle:checked ~ .menu__button .menu__icon::before {
	transform: rotate(-45deg) translate(-0.8rem, 0.5rem);
}

.menu__toggle:checked ~ .menu__button .menu__icon::after {
	transform: rotate(45deg) translate(-0.8rem, -0.6rem);
	// background-color: red;
}

// .menu__toggle:checked ~ .menu__button > .menu__icon

// .menu__toggle:checked ~ .menu__button > .menu__icon::before
// .menu__toggle:checked ~ .menu__button > .menu__icon::after
////////////////////
// HEADER SECTION

.header {
	color: #fff;
	background-image: $gradient-dark, url(../img/header.jpg);
	background-position: center;
	background-size: cover;
	height: 100vh;
	width: 100vw;

	overflow: hidden;

	text-transform: uppercase;

	&__content {
		display: flex;
		flex-direction: column;
		gap: 2rem;
		flex-wrap: wrap;

		justify-content: center;
		align-items: center;

		position: absolute;
		top: 70%;
		left: 50%;
		transform: translate(-50%, -50%);

		width: 100%;
	}

	&__title {
		font-size: 5.8rem;
		font-weight: 400;
		padding: 1rem 3.5rem;
		letter-spacing: 1px;

		background-color: rgba(3, 3, 3, 0.25);
	}

	&__text {
		font-size: 2.4rem;
		font-weight: 300;

		padding: 0.8rem 2rem;
		background-color: rgba(3, 3, 3, 0.25);
	}

	&__scroll {
		margin-top: 20rem;

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		font-size: 1.4rem;
		font-weight: 100;

		border: 0.5px solid rgba(241, 236, 236, 0.639);
		padding: 0.8rem 5rem;

		animation: pulse 2s infinite;

		transition: color ease-in 0.3s;

		background-color: transparent;
		div {
			transform: scale(0.7, 1);
		}

		&:hover {
			color: $color-primary;
			border: 1px solid $color-primary;
		}
	}
}

@keyframes pulse {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.02);
	}

	100% {
		transform: scale(1);
	}
}

////////////////////
// ABOUT SECTION

.about {
	padding: 40rem 20rem 10rem 20rem;
	height: 100vh;

	&__container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 6rem;
		justify-items: center;
		align-items: start;
	}

	&__images {
		display: flex;
		justify-content: flex-end;
		position: relative;
		flex-shrink: 0;
	}

	&__image {
		max-width: 35%;
		height: 100%;
		display: block;
		object-fit: contain;
		filter: grayscale(100);
		box-shadow: 9px 12px 20px -20px rgba(0, 0, 0, 0.35);

		&-2 {
			max-width: 35%;
			height: 100%;
			position: absolute;
			top: -30%;
			right: 50%;
		}
	}

	&__info {
		@include importantHeadings; //utility class

		&-buttons {
			margin-top: 10rem;

			& > *:not(:last-child) {
				margin-right: 3rem;
			}
		}
	}
}

///////////////
// SERVICE SECTION

.service {
	background-color: $color-dark;
	color: #fff;
	padding: 20rem 10rem;

	&__info {
		@include importantHeadings;
		margin-bottom: 5rem;
	}

	&__items {
		display: flex;
		justify-content: space-around;
		gap: 5rem;
	}

	&__item {
		width: 20%;
		border: 1px solid rgba($color-light, 0.3);
		padding: 3rem 4rem;
	}

	&__icon {
		font-size: 4rem;
		font-weight: 100;
		margin-bottom: 3rem;
	}

	&__heading {
		font-weight: 700;
		letter-spacing: 1px;
		font-size: 2.4rem;
		margin-bottom: 2rem;
	}
}

///////////////
// GALLERY SECTION

.gallery {
	min-height: 100vh;

	display: flex;

	&__item {
		min-width: calc(100% / 3);

		&:nth-child(n) {
			background-position: center;
			background-size: cover;
		}

		&-1 {
			background-image: $gradient-light, url(../img/interior-1.jpg);
		}

		&-2 {
			background-image: $gradient-light, url(../img/interior-2.jpg);
			position: relative;

			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
				background-color: rgba(0, 0, 0, 0.6);
				z-index: 10;
			}
		}
		&-3 {
			background-image: $gradient-light, url(../img/interior-3.jpg);
		}
	}

	&__container {
		height: 100%;
		width: 100%;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&__btn {
		border: none;
		font-size: 3.8rem;
		color: $color-light;

		padding: 1rem 3.5rem;
		background-color: rgba(3, 3, 3, 0.25);

		width: 100%;

		text-align: center;

		transition: all 0.2s ease-in;

		&:hover {
			transform: scaleY(1.05);
			background-color: rgba(3, 3, 3, 0.6);
		}
	}

	&__arrows {
		width: 80%;
		display: flex;
		justify-content: space-between;
	}

	&__arrow {
		z-index: 999;
		border: solid $color-light;
		border-width: 0 0.2rem 0.2rem 0;
		display: inline-block;
		padding: 3rem;

		&-left {
			transform: rotate(135deg);
		}

		&-right {
			transform: rotate(-45deg);
		}
	}
}

// CTA SECTION

.cta {
	padding: 20rem 10rem;

	&__info {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 0 auto;
	}

	&__btn {
		margin-top: 6rem;
		&:not(:last-of-type) {
			margin-right: 5rem;
		}
	}
}

// FOOTER

.footer {
	height: 40rem;
	background-color: $color-dark;
	color: $color-light;
	font-size: 2rem;
	font-weight: 300;
	padding: 8rem 0;

	&__container {
		width: 60%;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
	}

	&__logo {
		font-size: 3rem;
	}

	&__contact {
		&-item {
			border-bottom: 1px dotted $color-light;
			padding-bottom: 1rem;
			transition: all 0.2s ease-out;

			&:hover,
			&:target {
				color: $color-primary;
				border-bottom: 1px dotted $color-primary;
			}

			&:not(:last-of-type) {
				margin-bottom: 3rem;
			}
		}
		&-icon {
			font-size: 2.5rem;
			margin-right: 2rem;
		}
	}

	&__copy {
		font-size: 1.6rem;
		width: 100%;
		text-align: center;
		margin-top: 6rem;
	}
}

//////////////////
//////////////////
//POPUPS
//////////////////
//////////////////

///////////////
// FORM POPUP
.contact {
	@include popup;

	&__heading {
		margin-bottom: 5rem;
		font-size: 3rem;
	}

	&__container {
		background-color: rgba($color-light, 0.85);

		max-height: 95%;
		width: 40%;

		padding: 8rem;

		transform: translateY(0);
	}

	&__form {
		display: flex;
		flex-direction: column;
		gap: 2rem;

		&-item:last-of-type {
			margin-bottom: 2.5rem;
		}

		&-btn {
			margin-top: 4rem;
		}
	}

	&__call {
		display: none;
		// width: 100%;
		// text-align: center;

		// &-text {
		// 	font-size: 1.4rem;
		// }

		// &-btn {
		// 	width: 100%;
		// 	background-color: $color-light;
		// }
	}

	&:target {
		visibility: visible;
		opacity: 1;
		transition: opacity 0.5s ease-in;
	}

	@include popupClose;
}

///////////////
// GALLERY POPUPS

.interior,
.exterior {
	@include popup;

	&__container {
		background-color: rgba($color-dark, 0.95);

		height: 90%;
		width: 90%;

		padding: 5rem;

		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(3, 30%);
		justify-items: center;
		align-items: center;

		gap: 5rem;

		position: relative;
	}

	&__image {
		object-fit: cover;
		min-height: 100%;
		max-width: 70%;
		transition: transform 0.2s ease-in;

		&:hover {
			cursor: pointer;
			transform: scale(1.1);
		}
	}

	@include popupClose;
	// ADJUSTMENTS TO POPUP CLOSE "X" BUTTON
	&__close {
		&-wrapper {
			top: 4.2%;
			right: 4.7%;

			&:hover > .interior__close-btn,
			&:hover > .interior__close-btn::before {
				background-color: $color-primary;
			}
		}

		&-btn {
			background-color: #fff;

			&::before {
				background-color: #fff;
			}
		}
	}

	&:target {
		visibility: visible;
		opacity: 1;
		transition: opacity 0.5s ease-in;
	}
}
