////////////////////////////////////////
////////////////////////////////////////
////////////////////////////////////////
//  DESKTOPS - max width 1600px
////////////////////////////////////////
////////////////////////////////////////
////////////////////////////////////////
@media screen and (max-width: 100em) {
	html {
		font-size: 50%;
	}

	// HEADER CONTENT - MOVE UP A LITTLE BIT
	.header {
		&__content {
			top: 65%;
		}
	}

	// ABOUT SECTION IMAGES FIX
	.about {
		padding: 10rem 10rem;

		&__container {
			grid-template-columns: 3fr 2fr;
		}
	}

	// CTA POPUP
	.contact {
		// CHANGE WIDTH AND HEIGHT TO LOOK BETTER
		&__container {
			width: 50%;
		}
	}
}
////////////////////////////////////////
////////////////////////////////////////
////////////////////////////////////////
// TABS and DEVICES - max width +/- 1250px
////////////////////////////////////////
////////////////////////////////////////
////////////////////////////////////////
@media screen and (max-width: 78em) {
	// PUT IMAGES IN NEW ROW
	.about {
		height: auto;
		padding: 10rem 10rem;

		&__container {
			grid-template-columns: 1fr;
			grid-template-rows: 1fr 1fr;
		}

		// CHANGE IMAGES POSITION
		&__images {
			max-width: 80%;
			justify-content: flex-end;
			padding-right: 20rem;

			margin-top: 5rem;
			transform: translateY(-10%);
		}

		&__image {
			max-width: 30%;
			&-1 {
				z-index: 1;
			}

			&-2 {
				top: -30%;
				right: 0;
			}
		}

		&__info {
			grid-row: 1;
		}
	}

	// SERVICE ITEMS IN TWO ROWS NOW, INSTEAD OF ONE
	.service {
		padding: 10rem 10rem;
		&__items {
			flex-wrap: wrap;
			justify-content: space-evenly;
			gap: 5rem;
		}

		&__item {
			max-width: 35%;
		}
	}

	// SECTION HEIGHT CHANGED (BACKGROUND LOOKS BETTER)
	.gallery {
		min-height: 75vh;
	}

	// POPUP GALLERY
	.interior,
	.exterior {
		&__container {
			transform: translateY(0);
		}
	}
}
