////////////////////////////////////////
////////////////////////////////////////
////////////////////////////////////////
//  DESKTOPS - max width 1600px
////////////////////////////////////////
////////////////////////////////////////
////////////////////////////////////////
@media screen and (max-width: 100em) {
	html {
		font-size: 50%;
	}

	// HEADER CONTENT - MOVE UP A LITTLE BIT
	.header {
		&__content {
			top: 65%;
		}
	}

	// ABOUT SECTION IMAGES FIX
	.about {
		padding: 40rem 10rem;

		&__container {
			grid-template-columns: 3fr 2fr;
		}
	}

	// CTA POPUP
	.contact {
		// CHANGE WIDTH AND HEIGHT TO LOOK BETTER
		&__container {
			width: 50%;
		}
	}
}
////////////////////////////////////////
////////////////////////////////////////
////////////////////////////////////////
// TABS and DEVICES - max width +/- 1250px
////////////////////////////////////////
////////////////////////////////////////
////////////////////////////////////////
@media screen and (max-width: 78em) {
	// PUT IMAGES IN NEW ROW
	.about {
		height: auto;
		padding: 15rem 10rem;

		&__container {
			grid-template-columns: 1fr;
			grid-template-rows: 1fr 1fr;
		}

		// CHANGE IMAGES POSITION
		&__images {
			max-width: 80%;
			justify-content: flex-end;
			padding-right: 20rem;

			margin-top: 5rem;
			transform: translateY(-10%);
		}

		&__image {
			max-width: 30%;
			&-1 {
				z-index: 1;
			}

			&-2 {
				top: -30%;
				right: 0;
			}
		}

		&__info {
			grid-row: 1;
		}
	}

	// SERVICE ITEMS IN TWO ROWS NOW, INSTEAD OF ONE
	.service {
		padding: 15rem 10rem;
		&__items {
			flex-wrap: wrap;
			justify-content: space-evenly;
			gap: 8rem;
		}

		&__item {
			min-width: 30%;
			margin-right: 1rem;
		}
	}

	// SECTION HEIGHT CHANGED (BACKGROUND LOOKS BETTER)
	.gallery {
		min-height: 75vh;
	}




	// FORM POPUP
	.contact {
		&__heading {
			margin-bottom: 3rem;
			font-size: 2.6rem;
		}

		&__form {
			&-btn {
				margin-top: 1rem;
			}
		}


		
	}
}





////////////////////////////////////////
////////////////////////////////////////
////////////////////////////////////////
// TABS and DEVICES - max width +/- 900px
////////////////////////////////////////
////////////////////////////////////////
////////////////////////////////////////
@media screen and (max-width: 56.25em) {
	html {
		font-size: 37.5%;
	}

	.about {

		&__images {
			margin-top: 10rem;
		}
		&__image {
			max-width: 50%;
		}
	}

	.service {
		&__item {
			padding: 5rem 8rem;
			min-width: 50%;
			display: flex;
			gap: 1rem;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			text-align: center;
		}
	}

	.gallery {
		min-height: 50vh;
	}
}


// CONTACT POPUP FOR LATER (PHONES)
// &__call {
// 	width: 100%;
// 	text-align: center;

// 	&-text {
// 		font-size: 1.4rem;
// 	}

// 	&-btn {
// 		width: 100%;
// 		background-color: $color-light;
// 	}
// }